:root {
  --white: #fff;
  --black: #000;

  --gray100: #e1e1e6;
  --gray200: #a9a9b2;
  --gray400: #7c7c8a;
  --gray500: #505059;
  --gray600: #323238;
  --gray700: #29292e;
  --gray800: #202024;
  --gray900: #121214;

  --blue300: #48cae4;
  --blue500: #0096c7;
  --blue700: #023e8a;
  --blue900: #03045e;
}
